::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffc296;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffa05c;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background: #f1f1f1;
}
